@import url(
  http://fonts.googleapis.com/css?family=Open+Sans:400,
  300,
  700,
  800|Roboto+Slab:400,
  100,
  300,
  700
);

/**  Basic Page CSS **/
body {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 300;
  position: relative;
  background-color: #337ab7;
}

.main {
  background: white;
  padding: 30px 0;
}

header a,
footer a {
  color: white;
}

/**  Footer **/

footer {
  background: #337ab7;
  color: white;
  font-size: 0.8em;
  padding: 20px 0 40px 0;
}

footer a {
  color: #e0e6ae;
}

footer a:hover {
  color: #eec856 !important;
}

/** Application Classes **/

.bg-primary,
.btn-primary {
  background-color: #377bb5 !important;
  border: inherit;
}

.add-appointment .card-body {
  display: none;
}

.add-appointment label {
  font-weight: 700;
}

.apt-addheading {
  cursor: pointer;
  user-select: none;
}

.appointment-list {
  font-size: 1.1em;
}

.appointment-list .pet-item {
  border-bottom: 1px dotted gray;
}

.appointment-list .pet-item:last-child {
  border-bottom: none;
}

.appointment-list .pet-name {
  font-weight: 600;
  color: #337ab7;
  font-size: 1.3em;
  line-height: 100%;
}

.appointment-list .label-item {
  font-weight: 600;
  color: #667b82;
}

.appointment-list .apt-date {
  font-style: italic;
}

.appointment-list .apt-notes {
  line-height: 120%;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #a9aeb2;
}
